

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a style="text-decoration:none; color: rgb(196, 67, 144);"   class="navbar-brand"  href="products"> <h4><i class="fa-brands fa-shopify"></i>shoPPy</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="products/add_product"><strong>Add New Product</strong></a></li>
                        
                    </ul>

                    <form class="d-flex  me-5 me-auto" role="search" >
                           <input   [(ngModel)]="searchTerm" (keyup)="search($event)"  type="search" class="form-control me-2"  placeholder="Search Product" aria-label="search">
                           <button  class="btn btn-outline-success"  type="submit">Search</button>

                    </form>

                    <form class="d-flex">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge  text-white ms-1 rounded-pill" style="background-color: rgb(214, 124, 154);">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5"  style="background-color: rgba(196, 73, 139, 0.871);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">A COMPLETE WOMEN STYLE</p>
                </div>
            </div>
       